<div class="zoo">
<p id="notice"><%= notice %></p>
<br>
<p>
  
  <%= @blog.title %>
</p>
<br>

<p>
  
  <br>
  <div class="blog">
  <%= @blog.content %>
  </div>
</p>

</div>

<div class="finish">
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>


</div>